@font-face {
  font-family: "Thin"; /*Can be any text*/
  src: local("RobotoThin"), url("./Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("RobotoLight"), url("./Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: local("RobotoMedium"), url("./Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: local("RobotoBold"), url("./Roboto-Bold.ttf") format("truetype");
}
